<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Verify contact details for {{ folio_key }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/styles.css" /> 
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Current contact details for {{ entity.name }} on HNC contract {{ folio_key }}</h1>
            <p>The below page shows up to ten contacts we have recorded in {{ entity.name }}. Please review this list, and if there are any changes to our contact list, please fill out the form below with the corrections and updates:</p>
            {% if contacts %}
            <ul class="list-group">
                {% for contact in contacts %}
                <li class="list-group-item">
                    <strong>{{ contact.name }}</strong><br>
                    Telephone: {{ contact.telephone }}<br>
                    Email: {{ contact.email }}
                </li>
                {% endfor %}
            </ul>
            <br>
            <hr>
            <br>
            <h2>Let us know if there are any records needing corrections.</h2>
            <iframe width="640px" height="480px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=rl3fb2yklEee4mhrNWYhF_SmGjaRghtHsobtDeYPMBxUMTJSMTdUTVlZQjRRQTZIVUVVSFhFVkpVMS4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
            {% else %}
            <p>No contacts found for this entity.</p>
            {% endif %}
        </div>    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
